*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #4fd432;
}
h1,h2{
     font-family: "Merriweather Sans", sans-serif;
     color: rgb(11, 97, 55);
}
body{
    background-color: rgb(250, 254, 234);
    min-height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width:94%;
    min-height: 70px;
    background-color:rgb(50, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:14px;
    border-radius: 8px;
    padding: 10px 20px;
    left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    z-index: 999;
}
.logo{
    width:70px;
    min-height: 70px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.navoption{
    display: flex;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    gap:20px;
    transition: 0.8s;
}
.navoption a{
    color:aliceblue;
    font-size: 18px;
    transition: all 1.4s;
    cursor: pointer;
    text-decoration: none;
}
.navbut{
    width: 120px;
    height: 34px;
    padding:4px;
    background-color: darkgreen;
    color:aliceblue;
    border-radius: 6px;
    border: none;
    position: relative;
}
input:checked ~ .navoption{
    left:0;
}
input{
    display: none;
}
label{
    display: none;
}
.navoption a:hover{
    color: aqua;
}
 .navoption a{
    font-size: 18px;
    text-transform: uppercase;
 }

/*  2 buttons */
.firstSection {
    min-height: 128vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
}
.buttons{
    width:90%;
    height: 44px;
    display: flex;
    text-align: start;
    justify-content: start;
    min-height: 26px;
    gap:20px;
    position: absolute;
    top:60%;
    left:10%;
    
}
.buttons :first-child{
    width: 196px;
}
.buttons :last-child{
    width: 230px;
}
.buttons button{
    background-color:rgb(11, 97, 55);
    border: none;
    color: aliceblue;
    padding: 5px;
    border-radius: 12px;
    z-index: 4;
    font-size: 16px;
}
.buttons button:hover{
    background-color: aliceblue;
    color: rgb(11, 97, 55);
    transition: 1s;
}
/*  ANIMATION CONTENT*/
.animation-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 523px;
    left: 6%;
     color: rgb(11, 97, 55);
}
.animation-content h2{
    line-height: 46px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #4fd432;
}
.animation-content p{
    font-size: 20px;
    padding: 34px;
}
span {
      opacity: 0;
      display: inline-block;
      animation: fadeIn 0.8s forwards;
    }

    /* Animation for each word */
    @keyframes fadeIn {
      from { opacity: 0; transform: translateX(-20px); }
      to { opacity: 1; transform: translateX(0); }
    }

    /* Delay each word */
    span:nth-child(1) { animation-delay: 0.2s; }
    span:nth-child(2) { animation-delay: 0.4s; }
    span:nth-child(3) { animation-delay: 0.6s; }
    span:nth-child(4) { animation-delay: 0.8s; }
    span:nth-child(5) { animation-delay: 1s; }
    span:nth-child(6) { animation-delay: 1.2s; }
    span:nth-child(7) { animation-delay: 1.4s; }
    span:nth-child(8) { animation-delay: 1.6s; }
    span:nth-child(9) { animation-delay: 1.8s; }
    span:nth-child(10) { animation-delay: 2s; }
    span:nth-child(11) { animation-delay: 2.2s; }
/* SUPPORTS */
.supports{
    min-height: 120px;
    width: 78%;
    background-color: rgb(50, 49, 49);
    position: absolute;
    top: 80%;
    /* left: 12%; */
    display: flex;
    justify-content:center;
    border-radius: 8px;
    padding: 8px;
    z-index: 4;
}
.supports div{
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: aliceblue;
}
.sup1{
    border-right:2px solid aliceblue;

}
.sup1 i , .sup2 i{
    font-size: 22px;

}

/* BACKGROUND IMAGES */

.overallimage{
    width: 1080px;
    /* background-color: aqua; */
    min-height: 120vh;
    display: flex;
    justify-content: end;
    align-items: center;
   transform: rotateZ(10deg);
   position: relative;
   right: -40%;
}
.allimg{
    width:100%;
    height: 120vh;
    /* background-color: black; */
    display: flex;
    justify-content: end;
    /* transform: rotateZ(10deg); */
    transform: translateY(-20%);
    position: absolute;
    /* right: -12%; */
    /* top:-96px; */
    animation:scrollup linear infinite;
    animation-duration: 8s;
    /* animation-delay: 2s; */
}
@keyframes scrollup{
from{
    transform: translateY(0)
}
to{
    transform: translateY(-100%);
}
}
.imageboxx{
    width:100%;
    height:300px;
    /* background-color:blueviolet; */
    padding: 10px;
}
.imageboxx img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.row1,.row2,.row3{
    width: 33.33%;
}
.roww1{
    mask-image: linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);

}


/* ABOUT SECTION */
.about{
    padding: 60px;
    /* position: relative; */
    top:40px;
    /* background-color: aqua; */
}
.about h1{
    text-align: center;
    /* font-size: 40px; */
}
.aboutbox{
    width: 100%;
    min-height: 100%;
    background-color: black;
    position: relative;
}
.left{
    padding: 30px;
    display: flex;
    gap:30px;
    position: relative;
    /* top:40px */
}
.leftimg{
    width:350px;
    min-height: 300px;
    /* background-color: blanchedalmond; */
    display:grid;
    grid-template-columns: auto auto;
    gap:8px
    
}
/* .img1{
    width:150px;
    height: 250px; 
    background-color: blue;

} */
.img1 img{
    width:125px;
    height: 225px;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px;

}
/* .img2{
     width:250px;
    height:250px; 
    background-color: black;
} */
.img2 img{
    width:225px;
    height:225px;
    grid-column: 2/4;
    object-fit: cover;
    border-top-left-radius: 50px;

}
/* .img3{
    width:150px ;
    height: 150px;
} */
.img3 img{
    width:125px;
    height: 125px;
    object-fit: cover;
     border-top-left-radius:50% ;
     border-bottom-left-radius: 50%;
     border-bottom-right-radius: 50%;
}
.img4 img{
    width:225px;
    height:125px;
   border-bottom-left-radius: 50px;
   border-top-right-radius: 50px;
}
/* RIGHT CONTENT */
    .rightcon{
        width:750px;
        line-height: 22px;
        margin-left: 30px;
        

    }
    .con1{
        width:100%
    }
    .con1 ul,.con2 p{
        font-size: 20px;
        line-height: 26px;
    }
    .con1 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .con2{
        margin-top: 40px;
    }
    .con2 h2{
        margin-left: -20px;
        font-size: 28px;
    }
    .con2 p{
        margin-top: 10px;
    }

/* PLUMBING SERVICES */
.services{
    width: 100%;
    text-align: center;
    /* background-color: blueviolet; */
    min-height:fit-content;
}
/* .services h1{
    font-size: 40px;
} */
.services h1+p{
    font-size: 24px;
    color: rgb(11, 97, 55);
    margin-top: 10px;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:40px;
    position: relative;
    padding:40px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
}
.box1{
    width: 300px;
    min-height: 300px;
    background-color: aliceblue;
    position: relative;
    z-index: 99;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.boxx{
    width: 300px;
    min-height: 300px;
    position: relative;
}
.upbox{
    width: 100px;
    min-height: 100px;
    background-color: black;
    border-radius: 16px;
    position: absolute;
    right:-8px;
    top: -8px;
    
}
.downbox{
    width: 100px;
    min-height: 100px;
    background-color: black;
    border-radius: 16px;
    position: absolute;
    left: -8px;
    bottom: -8px;
}
.smallbox{
    width: 60px;
    min-height: 60px;
    background-color: rgb(5, 64, 5);
    position: absolute;
    top:15%;
    left:10%;
    border-radius: 12px;
    box-shadow: 6px 6px 5px rgba(15, 88, 19, 0.6);

}
.boxcon{
    position: absolute;
    top:40%;
    text-align: start;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 22px;
}
.overallseemore{
        width: 600px;
    display: flex
;
    justify-content: center;
}
.seemore{
    display: none;
}
.dot2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position:relative ;
    /* bottom:34px; */
    font-size: 12px;
    gap:2px;
}
.dot2 i:hover{
    color: rgb(11, 97, 55);
}
/* PACKAGES */


.packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:120vh;
    gap: 38px;
    /* background-color: rgb(95, 184, 109); */
}
/* .packages h1{
    font-size: 40px;
} */
table{
    border-collapse: collapse;
    padding:10px;
    /* background-color: antiquewhite; */
    /* opacity:0.7;  */
    color:green; 
    align-items: center;
    width:90%;
}
.table-head{
    width:300px;
}
.head{
    border-bottom:3px solid green ;
    border-collapse: collapse ;
    color: green;
    border-left: none;
}
td{
    border-left: 1px dashed green;
    color: green;
}
td,tr{
    padding:20px;
    text-align: center;
    width:150px
}
th{
    text-align:start;
    font-size:18px ;
}
.table-checkbox{
    width:100px;
}
.tophead{
    text-align: center;
}
.fa-square{
    font-size: 20px;
}
.overallbutton{
    border: none;
    padding: 10px;
}
td button{
    width:130px;
    color: green;
    border: 1px solid green;
    background-color: transparent;
    border-radius: 6px;
    padding: 4px;
}
td button:hover{
    background-color: rgb(11, 97, 55);
    color:aliceblue;
    transition: 1s;
}
/* FEEDBACK  */
.feedback{
    padding: 30px;
}
.feedbackcontent{
    text-align: center;
}
/* .feedbackcontent h1{
    font-size: 40px;
} */
.feedbackcontent p{
    font-size: 28px;
    color: rgb(11, 97, 55);
}
.overallcommandbox{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    position: relative;
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
}
.commantsbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    position: relative;
    top: 40px;
    gap: 30px;
}
.comments{
    width: 350px;
    min-height: 300px;
    background-color: aliceblue;
    padding: 30px;
    position: relative;
    top: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.comments:hover {
    transform: scale(1.3);
    z-index: 2;
    background-color:rgb(26, 242, 217);
    color: black;
    transition: 2s;
}
.comments i{
    position: absolute;
    top:-6%;
    font-size: 44px;
    color: green;
}
.comments img{
    width:80px
}
.comments p{
    font-size: 20px;
    margin-top: 10px;
}
.line{
    width:100%;
    border-bottom: 2px solid grey;
    margin-top: 50px;
}
.line+div{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    gap: 14px;
}
.circle{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid green;
}
.circle img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position:relative ;
    font-size: 12px;
    gap:2px;
    bottom: 100px;
}
.dot i:hover{
    color: rgb(11, 97, 55);
}
/* FAQ'S SECTION */
.faq{
    width: 100%;
    display: flex;
    gap:40px;
    justify-content: center;
}
/* FAQ'S LEFT */
.faq-left{
    width: 140px;
    min-height: 70vh;
    /* background-color: aqua; */
        display: flex;
    flex-direction: column;
    gap: 8px;
}
/* .faq-left h1{
    font-size: 40px;
} */
.callbutton{
    width: 90px;
    height: 40px;
    border-radius: 18px;
    border: none;
    background-color: green;
    color:aliceblue;
}
.callbutton:hover{
    background-color: aliceblue;
    color: rgb(11, 97, 55);
    transition: all 1s;
}
.callbutton i{
    background-color: aliceblue;
    color:green;
    width:20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 3px;
    margin-left: 6px;
}
.callbutton i:hover{
    background-color: rgb(11, 97, 55);
    color: aliceblue;
}
/* FAQ'S RIGHT */
.faq-right{
    width:720px;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:8px
}
.boxxx{
    width:700px;
    min-height:60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 18px;
    /* position: relative; */
}
.boxxx i,.box2 i{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: green;
    color:aliceblue;
    padding-top: 4px;
}
.box2{
    width:700px;
    min-height: 94px;
    border-radius: 18px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    padding: 18px;
}
.box2 i{
    position: absolute;
    top: 10px;
    right: 10px;

}

/*  FAQ'S HOVER */
.boxxx:hover,.box2:hover{
    background-color: rgb(11, 97, 55);
    color: aliceblue;
    transition: 1s;
}
/* FOOTER */
footer{
    min-height: 42vh;
    background-color: cadetblue;
    padding: 20px;
    
}
.footerbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    height: 200px;
    color:aliceblue
}
.footerbar div{
    background-color: lightgray;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    /* padding-top: 24px; */
    font-size: 20px;
}
.footerbar div h5{
    color:black
}
.footerbar div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.footerbar h4{
    font-size: 20px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    position: relative;
    bottom: 36px;
}
.footer-icons h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icons i{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: aliceblue;
    font-size: 26px;
    padding-top: 8px;
}
.footer-icons i:hover{
    background-color: aqua;
    transition: all 1s;
}
footer h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    display: inline-block;
    background-color: aliceblue;
    width: 100%;
    height: 1px;
}
footer h5{
    display: flex;
    justify-content: center;
    color:aliceblue;
    word-spacing: 4px;
}
footer span{
    position: relative;
    bottom: 20px;
}


section{
    scroll-snap-align:start;
    scroll-margin-top: 150px;
}







/* RESPONSIVE */
@media only screen and (min-width:300px) and (max-width:500px){
    /* .container{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
h1{
    font-size: 24px;
}
nav{
        min-height: 70px;
        padding: 10px 20px;
}
.logo{
    width: 50px;
    min-height: 50px;
}
.logo img{
     width: 50px;
     height: 50px;
}

.navoption{
    width:100%;
    background-color:rgb(50, 49, 49);
    left:110%;
    position: fixed;
    top: 78px;
    height:40vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
}
label{
    display: block;
    color:aliceblue
}
.navbut{
    display: none;
}





/* SECTION 1 */
.firstSection{
min-height: 110vh;
}
/* BACKGROUND IMAGES */
.overallimage{
    right: -30%;
    min-height: 100%;
}
.image-width{
    width: 500px;
    display: flex;
    overflow: hidden;
    height: 50vh;
    position: relative;
    top: -118px;
}
.allimg{
    height: 550px;
    right: -20%;
}
.row1, .row2, .row3{
    width: 100%;
}
.imageboxx{
    width: 220px;
    height: 150px;
    padding: 4px;
}
.roww1{
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);

}
/* ANIMATION CONTENT */
.animation-content{
    width: 100%;
    left: 0px;
    top:60%;
}
.animation-content h2{
    font-size: 22px;
    line-height: 30px;
}
.animation-content p{
    font-size: 13px;
    padding: 6px;

}
.buttons{
    width: 80%;
    top: 76%;
    justify-content: center;
    height: 28px;
}
.buttons button{
    height: 28px;
    font-size: 10px;
}
.supports{
    width:96%;
    min-height: 80px;
    top:83%
}
.supports div{
    width:34%;
}
.supports h4{
    font-size: 11px;
}
.sup1 i,.sup2 i{
    font-size: 18px;
}

/* ABOUT */
.about{
    padding: 10px;
}
.img1 img,.img3 img{
    width: 100px;
}
.img2 img,.img4 img{
    width: 166px;
}
.img1 img,.img2 img{
    min-height:220px ;
}
.img3 img,.img4 img{
    height:100px;
}
.leftimg{
    width: 280px;
    min-height: 336px;
}
.left{
    top: 24px;
    padding:0%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rightcon{
    width:250px;
    min-height:74vh;
}
.con1 ul, .con2 p{
    font-size: 14px;
}
.con2 h2{
    font-size: 24px;
}
/* SERVICE */
.boxes{
    flex-direction: column;
    overflow-x: clip;
}
.boxx{
    width: 250px;
}
.box1{
    width: 250px;
}
.services{
    position: relative;
    top: 50px;
}

.services h1+p {
    font-size: 12px;
    padding: 4px;
}
.seemore{
    display: block;
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(11, 97, 55);
    color: aliceblue;
    border-radius: 8px;
}
.seemore:hover{
    background-color: aliceblue;
    color: rgb(11, 97, 55);
    transition: all 1s;
}
.dot2{
    display: none;
}
/* TABLE PACKAGES */
.table-head{
    width: 118px;
}
td,th{
    padding:5px;
}
td{
    padding: 0px;
    width: 10px;
}
.table-checkbox{
    width: 0px;
    font-size: 12px;
}

.packages{
    display: flex;
    min-height: 80vh;
}
.packages h1{
    font-size: 22px;
    text-align: center;
}
.overallbutton{
    padding: 6px
}
/* button{
    height: 20px;
    font-size: 10px;
} */
td button{
    width:44px;
    height: 14px;
    font-size: 8px;
    padding: 2px;
}
th{
    font-size: 10px;
}
/* FEEDBACK SECTION */
.feedbackcontent h1{
    font-size: 23px;
}
.feedbackcontent p{
    font-size: 12px;
    color: rgb(11, 97, 55);
}
.comments{
    width: 260px;
    padding: 20px;
    
}
.comments:hover{
    transform: none;
}
.comments p{
    font-size: 16px;
}
.overallcommandbox{
    align-items: flex-start;
    min-height: 54vh;
}
.commantsbox{
    
    gap:20px;
    top:0;
}
.dot{
    bottom:44px;
}
/* .dot{
    display: none;
} */

/* FAQ'S */
.faq{
    flex-direction: column;
    align-items: center;
    min-height: 660px;
}
.faq-left{
    min-height: 0;
}
.faq-right{
    width: 90%;
}
.boxxx{
    width:90%;
}
.box2{
    width: 90%;
    min-height: 100px;
}
.faq-right h4{
    font-size: 12px;
}
.boxxx i, .box2 i{
    width: 20px;
    height: 20px;
    padding-top: 3px;
    font-size: 14px;
}
/* FOOTER BAR */
footer{
    min-height: 28vh;
    padding: 10px;
}
.footerbar{
    gap:7px;
    height: 50px;
}
.footerbar h4{
    font-size: 10px;
    
}
.footerbar div{
    width: 40px;
    height: 40px;
    font-size: 12px;
}
.footerbar div img{
    width: 40px;
    height: 40px;
}
.footer-icons{
    top:14px
}
.footer-icons i{
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding-top: 6px;
}
footer span{
    top:50px
}
footer h4{
    /* height: 160px; */
    font-size: 10px;
}
footer span+h4{
    position: relative;
    top: 50px;
    color: aliceblue;
}
}
/* RESPONSIVE 500PX TO 750PX */
@media only screen and (min-width:500px) and (max-width:770px){
 nav{
        min-height: 70px;
        padding: 10px 20px;
}
.logo{
    width: 50px;
    min-height: 50px;
}


.navoption{
    width:100%;
    background-color:rgb(50, 49, 49);
    left:110%;
    position: fixed;
    top: 78px;
    height:40vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
}
.navoption a{
    color:aliceblue
}
label{
    display: block;
    color:aliceblue;
}
.navbut{
    display: none;
}
.buttons{
    width:84%;
    top:70%;
    justify-content: center;
}
/* ABOUT */
.about{
    padding: 20px;
}
.about h1{
    font-size: 34px;
}
.leftimg{
    width: 360px;
    min-height: 336px;
}
.left{
    padding:20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rightcon{
    width:470px
}
.con1 ul, .con2 p {
    font-size: 16px;
}
/* SECTION 1 */
.firstSection{
min-height: 110vh;
}
/* BACKGROUND IMAGES */
.overallimage{
    right: -30%;
    min-height: 100%;
}
.image-width{
    width: 780px;
    display: flex;
    overflow: hidden;
    height: 66vh;
    position: relative;
    top: -162px;
}
.allimg{
    height: 550px;
    right: 10%;
}
.row1, .row2, .row3{
    width: 100%;
}
.imageboxx{
    width: 280px;
    height: 150px;
    padding: 4px;
}
.roww1{
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);

}

/* ANIMATION CONTENT */
.animation-content{
    width: 100%;
    left: 0px;
    top:60%;
}
.animation-content h2{
    font-size: 22px;
    line-height: 30px;
}
.animation-content p{
    font-size: 13px;
    padding: 6px;

}
.buttons{
    width: 80%;
    top: 72%;
    justify-content: center;
    height: 28px;
}
.buttons button{
    height: 28px;
    font-size: 10px;
}
.supports{
    width:96%;
    min-height: 80px;
    top:83%
}
.supports div{
    width:34%;
}
.supports h4{
    font-size: 11px;
}
.sup1 i,.sup2 i{
    font-size: 18px;
}


/* SERVICE */
.boxes{
    /* flex-direction: column; */
    overflow-x: clip;
    flex-wrap: wrap;
    justify-content: center;
}
.boxx{
    width: 250px;
}
.box1{
    width: 250px;
}
.services{
    position: relative;
    top: 50px;
}
.services h1{
    font-size: 30px;
}
.services h1+p {
    font-size: 14px;
    padding: 4px;
}
.seemore{
    display: block;
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(11, 97, 55);
    color: aliceblue;
    border-radius: 8px;
}
.dot2{
    display: none;
}
/* TABLE PACKAGES */
.table-head{
    width: 118px;
}
td,th{
    padding:5px;
}
td{
    padding: 0px;
    width: 10px;
}
.table-checkbox{
    width: 0px;
    font-size: 12px;
}

.packages{
    display: flex;
    min-height: 80vh;
}
.packages h1{
    font-size: 30px;
}
.overallbutton{
    padding: 6px
}
/* button{
    height: 20px;
    font-size: 10px;
} */
td button{
    width:44px;
    height: 14px;
    font-size: 8px;
    padding: 2px;
}
th{
    font-size: 13px;
}
/* commants */

.comments:hover{
    transform: none;
    background-color:aliceblue;
    z-index: 0;
}
.overallcommandbox{
    align-items: flex-start;
    min-height: 58vh;
}
.dot{
    bottom: 44px;
}
/* FAQ'S */
.faq{
    flex-direction: column;
    align-items: center;
    min-height: 660px;
}
.faq-left{
    min-height: 0;
}
.faq-right{
    width: 90%;
}
.boxxx{
    width:90%;
}
.box2{
    width: 90%;
    min-height: 100px;
}
.faq-right h4{
    font-size: 12px;
}
.boxxx i, .box2 i{
    width: 20px;
    height: 20px;
    padding-top: 3px;
    font-size: 14px;
}



/* FOOTER BAR */
footer{
    min-height: 28vh;
    padding: 10px;
}
.footerbar{
    gap:18px;
    height: 50px;
}
.footerbar h4{
    font-size: 14px;
    
}
.footerbar div{
    width: 40px;
    height: 40px;
    font-size: 12px;
}
.footerbar div img{
    width: 40px;
    height: 40px;
}
.footer-icons{
    top:14px
}
.footer-icons i{
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding-top: 6px;
}
footer span{
    top:50px
}
footer h4{
    /* height: 160px; */
    font-size: 10px;
}
footer span+h4{
    position: relative;
    top: 50px;
    color: aliceblue;
}
}



/* RESPONSIVE 750 TO 868 */
@media only screen and (min-width:770px) and (max-width:1150px){
h1{
    font-size: 34px;
    /* background-color: aqua; */
}
 .navoption a{
    font-size: 14px;
 }
.leftimg{
    width:350px;
}
.img1 img,.img3 img{
    width: 125px;
}
.img2 img,.img4 img{
    width: 225px;
}
.left{
    padding:30px;
    justify-content: center;
    align-items: start;
}
.animation-content{
    left: 2%;
}
.animation-content h2{
    font-size: 32px;
}
.animation-content p{
    font-size: 18px;
    left: -14px;
    position: relative;
    bottom: 12px;
}
.buttons{
    left: 4%;
}
/* SUPPORTS */
.supports{
    min-height: 100px;
    padding: 0%;
}
.supports h4{
    font-size: 15px;
}
.supports div{
    width: 34%;
}
/* ABOUT */
.about{
    padding: 20px;
}
/* SERVICES */
.services h1+p{
    font-size: 20px;
    margin-top: 10px;
}
.boxes{
    padding: 40px;
}
/* COMMANTS */
.comments:hover{
    transform: none;
    background-color:aliceblue;
    z-index: 0;
}
.overallcommandbox{
    align-items: flex-start;
}
.dot{
    bottom: 44px;
}
/* FAQ */
.faq{
    padding: 40px;
}
.faq-right{
    width: 550px;

}
.boxxx{
    width: 550px;
}
.box2{
    width: 550px;
    padding: 10px;
}
}
